@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

:root {
  --dark: #212121;
  --light: #f3f3f3;
  --font: 'Odibee Sans', cursive;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;

  color: var(--light);
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 250px;
  min-height: calc(100vh - 24px - 50px);
  padding: 20px;
}
.screen.screen--center {
  justify-content: center;
}

.logo-img {
  padding: 16px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.timer {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 120px;
  height: 120px;
  border: 1px solid var(--light);
  border-radius: 6px;

  color: var(--light);
  background-color: var(--dark);

  font-size: 24px;
  text-transform: capitalize;
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn--small {
  height: auto;
  width: auto;
}

.btn:hover {
  opacity: 0.6;
}

.one-line {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center !important;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}
.copyright {
  width: 100%;
  height: 24px;

  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
.sound-icon {
  display: flex;
  align-items: center;

  height: 50px;
  padding-left: 12px;
  padding-right: 12px;

  cursor: pointer;
}

.sound-icon:hover {
  opacity: 0.7;
}

.sound-icon:active {
  opacity: 0.9;
}

.sound-icon svg {
  fill: var(--light);
  height: 32px;
  width: 32px;
  object-fit: contain;
}
