<template>
  <div
    class="card-container"
    :style="{
      width: card && card?.width ? card.width + 'px' : false,
      height: card && card?.height ? card.height + 'px' : false,
      perspective: card && card?.width ? card.width * 2 + 'px' : false
    }"
  >
    <div class="card">
      <div
        class="card__inner"
        :class="{ 'is-flipped': isFlipped, 'disable-click': disabled }"
        @click="onToggleFlipCard"
      >
        <div class="card__face card__face--front">
          <div class="card__content"></div>
        </div>
        <div class="card__face card__face--back">
          <div class="card__content" :style="{ backgroundImage: `url(${urlImage})` }"></div>
        </div>
      </div>
    </div>
  </div>
  <Teleport to="body">
    <audio ref="flip-card-sound">
      <source src="@/assets/audio/flipcard.mp3" type="audio/mpeg" />
    </audio>
  </Teleport>
</template>
<script>
export default {
  props: {
    imgBackFaceUrl: {
      type: String,
      required: true
    },
    card: {
      type: [Object],
      required: true,
      validator: function (val) {
        if (typeof val.id !== 'number' && typeof val.id !== 'string') {
          console.error('Missing id property.')
          return false
        }
        if (typeof val.content !== 'number' && typeof val.content !== 'string') {
          console.error('Missing content property.')
          return false
        }
        return true
      }
    },
    disabled: {
      type: Boolean,
      default: false
    },
    isSound: {
      type: Boolean,
      default: true
    }
  },
  emits: ['flipOpen'],
  data() {
    return {
      isFlipped: false
    }
  },
  methods: {
    onToggleFlipCard() {
      if (this.disabled) return false

      this.isFlipped = !this.isFlipped
      if (this.isFlipped) this.$emit('flipOpen', { ...this.card })
    },
    onCloseFlipCard() {
      this.isFlipped = false
    }
  },
  computed: {
    urlImage() {
      return new URL(`../assets/${this.imgBackFaceUrl}`, import.meta.url).pathname
    }
  },
  watch: {
    isFlipped(newValue) {
      if (this.isSound) {
        this.$refs['flip-card-sound'].currentTime = 0
        this.$refs['flip-card-sound'].play()
      }
    }
  }
}
</script>
<style lang="css" scoped>
.card-container {
  --width-card: 90px;
  --height-card: 120px;
  --space-card: 8px;
  width: calc(var(--width-card) + var(--space-card) * 2);
  height: calc(var(--height-card) + var(--space-card) * 2);
  padding: var(--space-card);
}
.card {
  width: 100%;
  height: 100%;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;

  border-radius: 1rem;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}
.card__inner.is-flipped {
  transform: rotateY(-180deg);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 12% 9%;
  border-radius: 8%;
  box-shadow: 0 3px 10px 3px rgba(100, 100, 100, 0.2);

  backface-visibility: hidden;
  overflow: hidden;
}
.card__face--front .card__content {
  width: 100%;
  height: 100%;

  background: url('@/assets/images/icon_back.png') no-repeat center;
  background-size: 60%;
}
.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}
.card__face--back .card__content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card__content {
}
.disable-click {
  cursor: default;
}
</style>
