<template>
  <div class="screen">
    <div
      class="card-list"
      :style="{ width: ((heightCard * 3) / 4) * Math.sqrt(cardsContext.length) + 'px' }"
    >
      <CardFlip
        v-for="(card, index) of cardsContext"
        :key="index"
        :imgBackFaceUrl="`images/${card.value}.png`"
        :card="{
          id: index,
          content: card.value,
          width: (heightCard * 3) / 4,
          height: heightCard
        }"
        :disabled="disableClickCard || card.isDisable"
        :isSound="isSound"
        :ref="`card`"
        @flipOpen="(card) => checkRule(card)"
      ></CardFlip>
    </div>
  </div>
</template>
<script>
import Card from './Card.vue'
export default {
  props: {
    cardsContext: {
      type: Array,
      required: true
    },
    isSound: {
      type: Boolean,
      default: true
    }
  },
  emits: ['finish'],
  components: {
    CardFlip: Card
  },
  data() {
    return {
      rules: [],
      disableClickCard: false,
      windowWidth: 0,
      windowHeight: 0
    }
  },
  mounted() {
    this.windowHeight = window.innerHeight
    this.windowWidth = window.innerWidth

    window.addEventListener('resize', () => {
      this.windowHeight = window.innerHeight
      this.windowWidth = window.innerWidth
    })
  },
  methods: {
    checkRule(card) {
      if (this.rules.length === 2) {
        return false
      }

      this.cardsContext[card.id].isDisable = true
      this.rules.push(card)

      if (this.rules.length === 2 && this.rules[0].content === this.rules[1].content) {
        this.disableClickCard = true

        setTimeout(() => {
          this.disableClickCard = false
          this.cardsContext[this.rules[0].id].isTrue = true
          this.cardsContext[this.rules[1].id].isTrue = true
          this.rules = []

          let totalCardTrue = this.cardsContext.reduce(
            (total, item) => (item.isTrue ? total + 1 : total),
            0
          )
          if (totalCardTrue === this.cardsContext.length) {
            this.$emit('finish')
          }
        }, 920)
      } else if (this.rules.length === 2 && this.rules[0].content !== this.rules[1].content) {
        this.disableClickCard = true

        setTimeout(() => {
          this.disableClickCard = false
          this.cardsContext[this.rules[0].id].isDisable = false
          this.$refs[`card`][this.rules[0].id].onCloseFlipCard()
          this.cardsContext[this.rules[1].id].isDisable = false
          this.$refs[`card`][this.rules[1].id].onCloseFlipCard()
          this.rules = []
        }, 920)
      } else return false
    }
  },
  computed: {
    heightCard() {
      let avaiableHeight = Math.floor(
        (this.windowHeight - 40 - 24 - 50) / Math.sqrt(this.cardsContext.length)
      )
      let avaiableWidth = Math.floor((this.windowWidth - 40) / Math.sqrt(this.cardsContext.length))

      return avaiableHeight > (avaiableWidth * 4) / 3 ? (avaiableWidth * 4) / 3 : avaiableHeight
    }
  }
}
</script>
