<template>
  <div class="screen screen--center">
    <img v-if="!isStart" src="@/assets/images/5.png" class="logo-img" />
    <img v-if="isStart" src="@/assets/images/CharizardStart.png" class="logo-img" />
    <h1 class="one-line text-center">POKE MEMORIES</h1>
    <h3>Select mode to start game</h3>
    <div class="actions">
      <button class="btn" @click="onChooseLevel(16)">
        <span>4x4</span>
        <span>Easy</span>
      </button>
      <button class="btn" @click="onChooseLevel(36)">
        <span>6x6</span>
        <span>Normal</span>
      </button>
      <button class="btn" @click="onChooseLevel(64)">
        <span>8x8</span>
        <span>Hard</span>
      </button>
      <button class="btn" @click="onChooseLevel(100)">
        <span>10x10</span>
        <span>Super Hard</span>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  emits: ['start'],
  data() {
    return {
      isStart: false
    }
  },
  methods: {
    onChooseLevel(totalOfBlocks) {
      if (this.isStart) return false

      this.isStart = true

      setTimeout(() => {
        this.isStart = false
        this.$emit('start', { totalOfBlocks: totalOfBlocks })
      }, 300)
    }
  }
}
</script>
