<template>
  <div class="screen screen--center">
    <img src="@/assets/images/19.png" class="logo-img" />
    <h1 class="one-line text-center">✨Congratulations✨</h1>
    <div class="timer">{{ Math.round((endAt - startAt) / 1000) }} seconds</div>
    <button class="btn btn--small" @click="onClickStartAgain">Start again</button>
  </div>
  <Teleport to="body">
    <audio ref="congratulations-sound" autoplay>
      <source src="@/assets/audio/Victory.mp3" type="audio/mpeg" />
    </audio>
  </Teleport>
</template>
<script>
export default {
  props: {
    startAt: {
      type: Number,
      required: true
    },
    endAt: {
      type: Number,
      required: true
    },
    isSound: {
      type: Boolean,
      required: true
    }
  },
  emits: ['startAgain'],
  data() {
    return {}
  },
  methods: {
    onClickStartAgain() {
      this.$emit('startAgain')
    }
  },
  watch: {
    isSound(newValue) {
      if (newValue) {
        this.$refs['congratulations-sound'].play()
      } else {
        this.$refs['congratulations-sound'].pause()
      }
    }
  }
}
</script>
