<template>
  <audio autoplay loop id="audio-player">
    <source src="@/assets/audio/025-PokeMart.mp3" type="audio/mpeg" />
  </audio>
</template>
<script>
export default {
  props: {
    isSound: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      isFirst: true
    }
  },
  mounted() {
    const playAudio = () => {
      if (this.isSound && this.isFirst) {
        document.getElementById('audio-player').play()
        this.isFirst = false;
      }
      window.removeEventListener('click', playAudio)
      window.removeEventListener('keydown', playAudio)
    }
    window.addEventListener('click', playAudio)
    window.addEventListener('keydown', playAudio)
  },
  watch: {
    isSound(newValue) {
      if (newValue) {
        document.getElementById('audio-player').play()
      } else {
        document.getElementById('audio-player').pause()
      }
    }
  }
}
</script>
