<template>
  <div class="sound-icon" @click="onToggleSound">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      style="transform: ; msfilter: "
      v-if="isSound"
    >
      <path
        d="M16 21c3.527-1.547 5.999-4.909 5.999-9S19.527 4.547 16 3v2c2.387 1.386 3.999 4.047 3.999 7S18.387 17.614 16 19v2z"
      ></path>
      <path
        d="M16 7v10c1.225-1.1 2-3.229 2-5s-.775-3.9-2-5zM4 17h2.697l5.748 3.832a1.004 1.004 0 0 0 1.027.05A1 1 0 0 0 14 20V4a1 1 0 0 0-1.554-.832L6.697 7H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2zm0-8h3c.033 0 .061-.016.093-.019a1.027 1.027 0 0 0 .38-.116c.026-.015.057-.017.082-.033L12 5.868v12.264l-4.445-2.964c-.025-.017-.056-.02-.082-.033a.986.986 0 0 0-.382-.116C7.059 15.016 7.032 15 7 15H4V9z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      style="transform: ; msfilter: "
      v-if="!isSound"
    >
      <path
        d="m21.707 20.293-2.023-2.023A9.566 9.566 0 0 0 21.999 12c0-4.091-2.472-7.453-5.999-9v2c2.387 1.386 3.999 4.047 3.999 7a8.113 8.113 0 0 1-1.672 4.913l-1.285-1.285C17.644 14.536 18 13.19 18 12c0-1.771-.775-3.9-2-5v7.586l-2-2V4a1 1 0 0 0-1.554-.832L7.727 6.313l-4.02-4.02-1.414 1.414 18 18 1.414-1.414zM12 5.868v4.718L9.169 7.755 12 5.868zM4 17h2.697l5.748 3.832a1.004 1.004 0 0 0 1.027.05A1 1 0 0 0 14 20v-1.879l-2-2v2.011l-4.445-2.964c-.025-.017-.056-.02-.082-.033a.986.986 0 0 0-.382-.116C7.059 15.016 7.032 15 7 15H4V9h.879L3.102 7.223A1.995 1.995 0 0 0 2 9v6c0 1.103.897 2 2 2z"
      ></path>
    </svg>
  </div>
  <div>
    <MainScreen v-if="statusMatch === 'start'" @start="onStartGame"></MainScreen>
    <InteractScreen
      v-if="statusMatch === 'match'"
      :cardsContext="settings.cardsContext"
      :isSound="isSound"
      @finish="onFinishGame"
    ></InteractScreen>
    <ResultScreen
      v-if="statusMatch === 'end'"
      :startAt="settings.startAt"
      :endAt="settings.endAt"
      :isSound="isSound"
      @startAgain="onStartAgainGame"
    ></ResultScreen>
  </div>
  <Copyright></Copyright>
  <Teleport to="body">
    <SoundTrack :isSound="isSound && isPlaySoundTrackGame"></SoundTrack>
  </Teleport>
</template>
<script>
import MainScreen from '@/components/MainScreen.vue'
import Copyright from '@/components/Copyright.vue'
import InteractScreen from '@/components/InteractScreen.vue'
import ResultScreen from '@/components/ResultScreen.vue'
import SoundTrack from './components/SoundTrack.vue'
import { shuffed } from '@/utils/array.js'

export default {
  name: 'App',
  components: {
    MainScreen,
    InteractScreen,
    ResultScreen,
    Copyright,
    SoundTrack
  },
  data() {
    return {
      statusMatch: 'start', // start || match || end,
      settings: {
        totalOfBlocks: 0,
        cardsContext: [],
        startAt: null,
        endAt: null
      },
      isSound: true,
      isPlaySoundTrackGame: true,
    }
  },
  methods: {
    onStartGame(config) {
      this.settings.totalOfBlocks = config.totalOfBlocks

      const firstCards = Array.from({ length: this.settings.totalOfBlocks / 2 }, (_, i) => i + 1)
      const secondCards = [...firstCards]
      const cards = [...firstCards, ...secondCards]
      const shuffedCard = shuffed(shuffed(shuffed(shuffed(cards))))

      this.settings.cardsContext = shuffedCard.map(function (value) {
        const obj = {
          value,
          isTrue: false,
          isDisable: false
        }
        return obj
      })
      this.settings.startAt = new Date().getTime()
      // data ready
      this.statusMatch = 'match'
    },
    onFinishGame() {
      this.isPlaySoundTrackGame = false;
      console.log(this.isPlaySoundTrackGame)
      this.statusMatch = 'end'
      this.settings.endAt = new Date().getTime()
    },
    onStartAgainGame() {
      this.statusMatch = 'start'
      this.isPlaySoundTrackGame = true;
      this.settings = {
        totalOfBlocks: 0,
        cardsContext: [],
        startAt: null,
        endAt: null
      }
    },
    onToggleSound() {
      this.isSound = !this.isSound
    }
  }
}
</script>
